body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6d8eb0;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



.filter-button {
  padding: 10px 20px;
  background-color: #3a699b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}

#adsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item-image {
  width: 40%;
  height: auto; /* Поддерживает пропорции изображения */
  object-fit: cover; /* Сохраняет пропорции, если контейнер больше изображения */
  display: block;
  margin-bottom: 10px; /* Добавляем отступ снизу */
  margin-right: 20px; /* Отступ справа для расстояния между изображением и текстом */
  border-radius: 8px; /* Скругление углов */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень для красоты */
}

.ad {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Выравнивание по верху */
  margin-bottom: 20px;
  gap: 20px; /* Расстояние между изображением и текстом */
  border: 2px solid #d1d1d1; /* Добавление контура */
}

#adTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#adDescription {
  font-size: 14px;
  margin-bottom: 10px;
}

#adPrice {
  font-size: 16px;
  color: green;
  margin-bottom: 10px;
}


#backButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3a699b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#backButton:hover {
  background-color: #0056b3;
}

.filters {
  margin-top: 10px;
  text-align: right;
}

.filters button {
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3a699b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}